# Dependency folders
node_modules/

# Debug l
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# Environment variables (ถ้ามี)
.env

# Testing coverage
coverage/